{% extends 'admin/layout/admin_base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class=""form-group>
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
            {{ form_errors(form.name, {'attr' : {'class' : 'text-danger'}}) }}
        </div>

        <div class=""form-group>
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
            {{ form_errors(form.description, {'attr' : {'class' : 'text-danger'}}) }}
        </div>

        <div class=""form-group>
            {{ form_label(form.style) }}
            {{ form_widget(form.style, {'attr' : {'class' : 'form-control'}}) }}
            {{ form_errors(form.style, {'attr' : {'class' : 'text-danger'}}) }}
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                {{ form_label(form.origin) }}
                {{ form_widget(form.origin, {'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.origin, {'attr' : {'class' : 'text-danger'}}) }}
            </div>
            <div class="form-group col-6">
                {{ form_label(form.youtubeLink) }}
                {{ form_widget(form.youtubeLink, {'attr' : {'class' : 'form-control'}}) }}
                {{ form_errors(form.youtubeLink, {'attr' : {'class' : 'text-danger'}}) }}
            </div>
        </div>

        <h3 class="text-center">Image</h3>
        <div class="form-group">
            {{ form_label(form.image.url) }}
            {{ form_widget(form.image.url, {'attr' : {'class' : 'form-control'}}) }}
            {{ form_errors(form.image.url) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image.alt) }}
            {{ form_widget(form.image.alt, {'attr' : {'class' : 'form-control'}}) }}
            {{ form_errors(form.image.alt) }}
        </div>


        {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-dark mt-3'}}) }}

    {{ form_end(form) }}
{% endblock %}