{% extends 'admin/layout/admin_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <h2 class="text-center mt-2">Ajout d'un artiste</h2>
    {{ form_start(form) }}
    <div class="container-fluid mt-4">
        <div class="animated fadeIn">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Ajouter un artiste</strong>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_row(form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_row(form.style) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_row(form.description) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_row(form.origin) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_row(form.priority) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.youtubeLink) }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.facebookLink) }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.soundcloudLink) }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.bandcampLink) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="py-2 pl-2">Image</h4>
                                    <div class="form-group">
                                        {{ form_row(form.image.file) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_row(form.image.alt) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-dark mt-3'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}