<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="...">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>{% block title %}Administration - Art Mass et Mess{% endblock %}</title>

    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" integrity="sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=" crossorigin="anonymous" />

    <!-- Main styles for this application -->
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04=" crossorigin="anonymous" />
</head>

<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'		- Fixed Header

// Sidebar options
1. '.sidebar-fixed'		- Fixed Sidebar
2. '.sidebar-hidden'		- Hidden Sidebar
3. '.sidebar-off-canvas'	- Off Canvas Sidebar
4. '.sidebar-minimized'		- Minimized Sidebar (Only icons)
5. '.sidebar-compact'		- Compact Sidebar

// Aside options
1. '.aside-menu-fixed'		- Fixed Aside Menu
2. '.aside-menu-hidden'		- Hidden Aside Menu
3. '.aside-menu-off-canvas'     - Off Canvas Aside Menu

// Footer options
1. 'footer-fixed'		- Fixed footer

-->

<body class="app header-fixed aside-menu-hidden">
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
    <a class="navbar-brand" href="{{ path('homepage') }}">AMM</a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>
    </ul>
</header>
<div class="app-body">
    {% block sidebar %}
    <div class="sidebar ">
        <nav class="sidebar-nav d-flex flex-column">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}"><i class="icon-speedometer"></i> Administration </a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text text-center w-100 bg-light text-dark">Artistes</span>
                    <a class="nav-link" href="{{ path('admin_artists_index') }}">Liste des artistes</a>
                    <a class="nav-link" href="{{ path('admin_artists_add') }}">Ajouter un artiste</a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <span class="navbar-text text-center w-100 bg-light text-dark">Utilisateurs</span>
                        <a class="nav-link" href="{{ path('admin_users_index') }}">Liste des utilisateurs</a>
                        <a class="nav-link" href="{{ path('admin_users_add') }}">Ajouter un utilisateur</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <span class="navbar-text text-center w-100 bg-light text-dark">Evenements</span>
                    <a class="nav-link" href="{{ path('admin_events_index') }}">Liste des evenements</a>
                    <a class="nav-link" href="{{ path('admin_events_add') }}">Ajouter un evenement</a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text text-center w-100 bg-light text-dark">Diaporama</span>
                    <a class="nav-link" href="{{ path('admin_slider_index', {'id' : 1}) }}">Gestion du diaporama de page d'accueil</a>
                </li>
                <li class="nav-item">
                    <span class="navbar-text text-center w-100 bg-light text-dark">Gallerie</span>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock %}

    <!-- Main content -->
    <main class="main">
        <div class="container-fluid">
            <div id="ui-view">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

</div>

<!-- Bootstrap and necessary plugins -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js" integrity="sha256-mIiWebTG82x+OcV3vUA49ffGDIAJ53uC9jflw5/+REs=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js" integrity="sha256-IRibTuqtDv2uUUN/0iTrhnrvvygNczxRRAbPgCbs+LE=" crossorigin="anonymous"></script>

<!-- Main scripts -->
<script src="{{ asset('js/admin/app.js') }}"></script>

</body>
</html>