{% extends "front/layout/base.html.twig" %}

{% block title %}{{ artist.name }} @ AMM Fest 4 {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="py-3 bg-secondary font-weight-bold text-center text-uppercase">{{ artist.name }}</h2>
    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-md-7 text-center">
                <div id="artist-image">
                    <img  src="{{ asset('images/uploads/' ~ artist.image.fileName) }}" alt="{{ artist.image.alt }}">
                </div>
            </div>
            <div class="col-12 col-md-5 text-center font-weight-bold">
                <h3 class="bg-dark text-light font-weight-bold text-center py-2">Origine</h3>
                <p>{{ artist.origin }}</p>
                <h3 class="bg-dark text-light font-weight-bold text-center py-2">Style</h3>
                <p>{{ artist.style }}</p>
                <h3 class="bg-dark text-light font-weight-bold text-center py-2">Description</h3>
                <p class="text-justify">{{ artist.description }}</p>
            </div>
        </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div id="artiste-youtube-video">
                        <iframe src="{{ artist.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

    </div>



{% endblock %}

