{% extends "front/layout/base.html.twig" %}

{% block title %}{{ artist.name }} @ AMM Fest 4 {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="py-3 bg-secondary font-weight-bold text-center text-uppercase">{{ artist.name }}</h2>
    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-md-7 text-center">
                <div id="artist-image">
                    <img  src="{{ asset('images/uploads/' ~ artist.image.fileName) }}" alt="{{ artist.image.alt }}">
                </div>
            </div>
            <div class="col-12 col-md-5 text-center font-weight-bold">
                <h3 class="bg-primary text-light font-weight-bold text-center py-2">Origine</h3>
                <p>{{ artist.origin }}</p>
                <h3 class="bg-primary text-light font-weight-bold text-center py-2">Style</h3>
                <p>{{ artist.style }}</p>
                <h3 class="bg-primary text-light font-weight-bold text-center py-2">Description</h3>
                <p class="text-justify">{{ artist.description }}</p>
            </div>
        </div>

        <div class="row text-center d-flex justify-content-center">
            {% if artist.facebookLink is not null %}
            <div class="col-4">
                <a href="{{ artist.facebookLink }}"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
            </div>
            {% endif %}
            {% if artist.bandcampLink is not null %}
            <div class="col-4">
                <a href="{{ artist.bandcampLink }}"><i class="fa fa-bandcamp fa-4x" aria-hidden="true"></i></a>
            </div>
            {% endif %}
            {% if artist.soundcloudLink is not null %}
            <div class="col-4">
                <a href="{{ artist.soundcloudLink }}"><i class="fa fa-soundcloud fa-4x" aria-hidden="true"></i></a>
            </div>
            {% endif %}
        </div>

        {% if artist.youtubeLink is not null%}
        <div class="row">
            <div class="col-12 text-center">
                <div id="artiste-youtube-video">
                    <iframe src="{{ artist.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        {% endif %}
    </div>



{% endblock %}

