{% extends 'front/layout/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Contact {{ parent() }}{% endblock %}
{% block content %}

        <div id="contact-header">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 col-md-10 text-center">
                    <button class="btn text-uppercase font-weight-bold p-3"><span>rejoins l'équipe</span></button>
                    <button class="btn text-uppercase font-weight-bold p-3">
                        <a href="#contact-form">contacte-nous !</a>
                    </button>
                </div>
            </div>
        </div>

        <section id="contact-form" class="py-4 position-relative my-5 container">
            {% for message in app.session.flashbag.get('success') %}
                    <div class="w-75 m-auto success-flash bg-success p-3 rounded text-center">
                        <h4 class="">Message envoyé !</h4>
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
            <h3 class="text-center text-uppercase font-weight-bold py-3">get <span class="font-italic">in </span> touch</h3>
            <div id="responseData" class="font-weight-bold text-light rounded text-center w-50 m-auto"></div>
            {{ form_start(form, {'attr' : {'class' : 'contactForm mt-3', 'novalidate' :'', 'id': 'form'}}) }}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.firstName, {'attr': {'maxlength' : '50'}}) }}
                            {{ form_errors(form.firstName) }}
                            <div class="invalid-feedback">
                                Merci de renseigner votre nom (50 caract. maximum)
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.secondName, {'attr': {'maxlength' : '50'}}) }}
                            {{ form_errors(form.secondName) }}
                            <div class="invalid-feedback">
                                Merci de renseigner votre prénom (50 caract. maximum)
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group">
                            {{ form_widget(form.mail, {'attr': {'maxlength' : '100'}}) }}
                            {{ form_errors(form.mail) }}
                            <div class="invalid-feedback">
                                Merci de renseigner une adresse mail valide
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            {{ form_widget(form.subject) }}
                            {{ form_errors(form.subject) }}
                            <div class="invalid-feedback">
                                Merci de choisir le sujet de votre message
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {{ form_widget(form.message, {'attr': {'maxlength' : '1000'}}) }}
                            {{ form_errors(form.message) }}
                            <div class="invalid-feedback">
                                Merci d'écrire votre message ici (1000 caract. maximum)
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-pink mt-3'}}) }}

            {{ form_end(form) }}
            </div>
            <div id="loadingAnimation" class="">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-pink"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/front/contactForm.js') }}"></script>
{% endblock %}