{% extends "front/layout/base.html.twig" %}

{% block title %}Les autres evenements {{ parent() }}{% endblock %}
{% block content %}
    <h2 class="text-uppercase text-center font-weight-bold bg-dark text-light py-3 my-0">les evenements</h2>
    {% for event in events %}
        <div class="event my-5 d-flex position-relative" data-event ="event-{{ event.id }}">
            <div class="eventTitle position-relative">
                <div class="eventTitleBackground">
                    <img class="position-absolute w-100" src="{{ asset('images/uploads/') ~ event.coverImage.fileName }}" alt="{{ event.coverImage.alt }}">
                </div>
                <div class="row h-100">
                    <div class="col-9 d-flex justify-content-center align-items-center">
                        <div class="bg-light p-3">
                            <h3 class="text-uppercase font-weight-bold">{{ event.name }}</h3>
                            <p class="font-italic m-0">(Le {{ event.beginningDateTime| date('d/m/Y') }})</p>
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-end align-items-center">
                        <a class="toggleEvent" href="" data-target="event-{{ event.id }}"><i class="fa fa-chevron-left fa-4x mr-5" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="eventContent border border-black">
                <div class="container-fluid py-3">
                    <div class="row">
                        <div class="col-5 p-3 text-center d-none d-md-block">
                            <img class="img-fluid event-image" src="{{ asset('images/uploads/') ~ event.image.fileName }}" alt="">
                        </div>
                        <div class="col-12 col-md-7 text-center text-md-left">
                            <h4 class="text-uppercase py-2 font-weight-bold text-center mt-3 mb-0">{{ event.name }}</h4>
                            <div class="row w-100 m-0 text-center bg-primary text-light py-2">
                                <div class="col-6">
                                    <p>Debut : {{ event.beginningDateTime| date('d/m/Y')}} à {{ event.beginningDateTime|date('H:i') }}
                                </div>
                                <div class="col-6">
                                    {% if event.endingDateTime is not null %}
                                        Fin : {{ event.endingDateTime| date('d/m/Y') }} à {{ event.endingDateTime| date('H:i') }}
                                        {% else %}
                                        Fin : --
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-10 m-auto">
                                    <p>{{ event.description }}</p>
                                </div>
                            </div>
                            <div class="row w-100 m-0 text-center bg-primary text-light py-2 d-">
                                <div class="col-6">
                                    {% if event.location is not null%}
                                        <p><span class="font-weight-bold">Lieux</span> : {{ event.location }}</p>
                                    {% else %}
                                        <p>Lieux non annoncé</p>
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% if event.price is not null%}
                                        {% if event.price == 0 %}
                                            <p><span class="font-weight-bold">Prix</span> : Gratuit</p>
                                        {% else %}
                                            <p><span class="font-weight-bold">Prix</span> : {{ event.price }} euros</p>
                                        {% endif %}
                                    {% else %}
                                        <p>Prix non annoncé</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/front/events.js') }}"></script>
{% endblock %}
