{% extends "front/layout/base.html.twig" %}

{% block title %}AMM Fest 4 {{ parent() }}{% endblock %}
{% block content %}
    <section id="festival_lineup">
        <div class="text-center bg-secondary py-4">
            <h2>{{ "Line-Up"|upper }}</h2>
        </div>
        <div class="row no-gutters">
            {% for artist in artists %}
                <div class="col-6 col-md-3">
                    <div class="artist ">
                        <a href="">
                            <img class="" src="{{ asset('images/uploads/' ~  artist.image.fileName ) }}" alt="{{ artist.image.alt }}">
                            <div class="artist-infos ml-1 mb-1 ml-md-4 mb-md-4 p-2">
                                <h3 class="m-0 font-weight-bold">{{ artist.name }}</h3>
                                <p class="m-0">{{ artist.style }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="festival_infos">
        <div class="text-center bg-secondary py-4">
            <h2>{{ "Infos"|upper }}</h2>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 text-center">
                <h3 class="text-uppercase  my-3">Le site</h3>
                <adress>Terrain des Archers <br/> 59114, <span class="text-uppercase">Steenvoorde</span></adress>
                <p>Accès: A25, Sortie 13 <span class="text-uppercase">Steenvoorde</span></p>
                <button class="btn btn-secondary mt-3 mb-5 font-weight-bold"><a href="">Google Map</a></button>

                <h3 class="text-uppercase my-3">Entrée</h3>
                <div class="text-uppercase mb-5">
                    <p>
                        Ouverture des portes : 15h
                        <br/>
                        Garden Party : 15h00 - 19h30
                        <br/>
                        Concert : 19h30 - 3h00
                    </p>
                    <p>
                        Pass Journée : 12 euros*
                        <br/>
                        Pass soirée : 9euros*
                    </p>
                </div>
                <div class="my-5">
                    <h3 class="text-uppercase  my-3">Sur place</h3>
                    <div class="text-uppercase">
                        <p>
                            Coin cinéma
                            <br/>
                            Camping gratuit
                            <br/>
                            Bar
                            <br/>
                            Restauration
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-none d-md-block text-right">
                <img class="mr-5" src="{{ asset('images/map-infos-fest') }}" alt="Vue satellite du site du festival et des alentours, avec le logo de l'association à l'endroit du site du festival">
                <img src="{{ asset('images/picto-infos-fest.png') }}" alt="Pictogrammes représentants les services disponibles sur le site du festival. Boisson, nourriture, camping">
            </div>
        </div>
    </section>
{% endblock %}

