{% extends 'admin/layout/admin_base.html.twig' %}

{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h2 class="text-center mt-2">Ajouter une image au diaporama</h2>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">Ajouter une image</div>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_label(form.file) }} <span class="font-italic">(Largeur min: 1200px. Ratio Largeur/Hauteur min: 2.5)</span>
                    {{ form_widget(form.file) }}
                    {{ form_errors(form.file) }}

                    <div class="mt-3">
                        {{ form_row(form.alt) }}
                    </div>

                    {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-dark mt-3'}}) }}
                {{ form_end(form) }}
            </div>
            <div class="card-footer"></div>
        </div>
    </div>

{% endblock %}