{% extends 'admin/layout/admin_base.html.twig' %}

{% block content %}
    <h2 class="text-center">Gestion du diaporama de page d'accueil</h2>
    <div class="row">
        <div class="col-12 col-md-9">
            {% for image in slider.images %}
                <div class="container bg-light my-4">
                    <div class="row">
                        <div class="col-7">
                            <img class="img-fluid" style="max-height: 400px" src="{{ asset('images/uploads/' ~ image.filename) }}" alt="{{ image.alt }}">
                        </div>
                        <div class="col-5">
                            <p>{{ image.alt }}</p>
                            <p>{{ image.position }}</p>
                            <a href="{{ path('admin_slider_image_delete', {'sliderId' : slider.id, 'imageId': image.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-md-3">
            {{ render(controller('App\\Controller\\AdminControllers\\SliderController::sliderImageAdd', {'sliderId' : 1})) }}
        </div>
    </div>



{% endblock %}


