{% extends 'admin/layout/admin_base.html.twig' %}

{% block content %}
    <h2 class="text-center mt-2">Gestion du diaporama de la page d'accueil</h2>
        <div class="row my-4">
            <div class="col-12">
                {% for image in sliderImages %}
                <div class="card">
                    <div class="card-header">
                        <p>Slide n°<span class="font-weight-bold">{{ image.position }}</span></p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid" src="{{ asset('images/uploads/' ~ image.filename) }}" alt="{{ image.alt }}">
                            </div>
                            <div class="col-12 text-center my-3">
                                <p>Texte alternatif : {{ image.alt }}</p>
                            </div>
                            <div class="col-12">
                                <a href="{{ path('admin_slider_image_delete', {'sliderId' : slider.id, 'imageId': image.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
                                <a href="{{ path('admin_slider_image_update', {'sliderId' : slider.id, 'imageId': image.id}) }}"><button class="btn btn-primary">Modifier</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            {% endfor %}
            </div>
        </div>

    {% include 'widget/pagination_widget.html.twig' %}


{% endblock %}


