{% extends 'admin/layout/admin_base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <h2 class="text-center mt-2">Ajouter un évènement</h2>
    {{ form_start(form) }}

    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Ajouter un évènement</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.category) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.location) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.price) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.beginningDateTime) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.endingDateTime) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.facebookLink) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(form.image) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-dark mt-3'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}